//color
$color-primary: #000000;
$color-secondary: #000000;

//font-size
$size-small: 14px;
$size-medium: 18px;
$size-large: 22px;

//weight
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

//width
$max-width: 1440px;
$min-width: 360px;
